<% //Two objects currently passed to this view  %>
<% // "user" and "list" %>

<%- include('template-head.ejs') %> 

<div class="grandParentContaniner">
  <div class="parentContainer">

    <div class="card-group">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">List that you own</h4>
        <div class="list-group">
          <% lists.forEach((list) => { %>
            <a href=<%= '/list/' + list.id %> class="list-group-item d-flex justify-content-between align-items-center"><%= list.name %></a>
          <% }); %>
        </div>
      </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">List that you're a part of</h4>
        <div class="list-group">
          <% lists.forEach((list) => { %>
            <a href=<%= '/list/' + list.id %> class="list-group-item d-flex justify-content-between align-items-center"><%= list.name %></a>
          <% }); %>
        </div>
      </div>
    </div>
  </div>

    <div class="card border-primary mb-3" >
      <div class="card-body">
        <h4 class="card-title">Start a new list</h4>
        <form action='/new-list' method="POST">
          <div class="form-group row">
              <label for="listname" class="col-form-label">List Name:</label>
              <input type="text" placeholder="my new list" id="listName" name="listName" class="form-control"required>
          </div>
          <button type="submit" class="btn btn-primary">Create New List</button>
      </form>
      </div>
    </div>
  </div>
</div>
